html, body {
  background-color: $secondary;
  color: $primary;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-width: 100vw;
  scroll-behavior: smooth;
  width: 100%;
}

#app-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 500px;
  padding: .5rem;

  > section {
    background: rgba(black, .2);
    border-radius: 3px;
    box-shadow: 0 0 3px 0 black;
    margin: .5rem 0;

    &:last-child { margin-bottom: 0; }
  }
}

button, input {
  font-size: 1rem;
}

h2.expandable-title {
  @include transition;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: .3em;

  &:hover {
    color: $accent;
  }

  .fa-chevron-down {
    @include transition;
  }

  &.--expanded {
    .fa-chevron-down {
      transform: scaleY(-1);
    }
  }
}