@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

html, body {
  font-family: 'Fira Code', monospace;
  font-size: 18px;
}

button, input {
  font-family: 'Fira Code', monospace;
}